/* COMIENZO GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;


}

body {

    background: #212529;
    /* radial-gradient(circle, rgba(173, 0, 52, 1) 0%, rgba(33, 10, 10, 1) 100%); */
    width: 90%;

    margin-left: auto;
    margin-right: auto;
    padding: 0;

}

@font-face {
    font-family: Qatar;
    src: url(./font/Qatar2022Arabic-Bold.ttf);
}

/* SWEET ALERT */
.swal2-container.swal2-center>.swal2-popup {
    border-radius: 1rem;
}

.swal2-title {
    font-family: Qatar;
}

.swal2-styled.swal2-confirm {
    background-color: rgba(255, 255, 197, 0.603);
    height: 60px;
    width: 80px;
    border-radius: 1rem;
}

/* FIN GENERALES */


/* COMIENZO HEADER */

#logo-wcp {
    width: 50px;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

#logo-fifa {
    width: 50px;
    margin-right: 2rem;
}

header h3 {
    margin-top: 0.5rem;
    font-size: 1.5vw;
    color: aliceblue;
    font-family: Qatar;
}

header a {
    text-decoration: none;
}

/* FIN HEADER */


/* COMIENZO INDEX */

.body-principal {
    background-image: url("../images/fondo-qatar1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.index-principal {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.index-principal a {
    text-decoration: none;
}

#banner-fixture {
    margin-right: 20rem;
}

#banner-argentina,
#banner-fixture {
    /* background-color: rgba(0, 255, 255, 0.31); */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    margin-top: 1rem;
    text-align: center;
    border-radius: 2rem;
    background: #212529;
    width: 20rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#banner-argentina:hover,
#banner-fixture:hover {
    background-color: rgba(12, 4, 4, 0.295) !important;
    transform: scale(1.1) translateY(1px);
}

#logo-afa {
    width: 4rem;

}

#logo-fixture {
    width: 130px;
    border-radius: 1rem;
}

#banner-argentina a,
#banner-fixture a {
    text-decoration: none !important;
}

#banner-argentina h5,
#banner-fixture h5 {
    text-shadow: 1px 1px 2px black;
    color: aliceblue;
    font-family: Qatar;
    text-align: center;
    text-decoration: none;
}

/* FIN INDEX */




/* COMIENZO SECCION GRUPO C - ARGENTINA */
#fixture-C {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    font-family: Qatar;
    background-image: url("../images/fondo-afa.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.table {
    width: 500px;
    margin: auto;
    margin-top: 3rem;
}

.fechaUno,
.fechaDos,
.fechaTres {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background: rgba(0, 0, 0, 0.685);
}

#fixture-C h1 {
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
    font-family: Qatar;

}

.encuentros h1 {
    margin: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    color: aliceblue;
}

.encuentros {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

@media screen and (max-width: 759px) {
    .encuentros {
        flex-direction: column;
    }
}

/* FIN SECCION GRUPO C - ARGENTINA  */




/* COMIENZO SECCION CRUCES INTERACTIVOS */

#main-cruces {
    display: flex;
    background: radial-gradient(circle, rgba(173, 0, 52, 1) 0%, rgba(33, 10, 10, 1) 100%);
}

#main-cruces h1 {
    font-size: 1.3vw;
    text-align: center;
    margin-top: 2rem;
    color: aliceblue;
    font-family: Qatar;
}


#fixture {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}


.grupo {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    border-radius: 2rem;
    max-width: 500px;
}

@media screen and (max-width: 898px) {
    header h3 {
        font-size: 2.5vw;
    }

    h1,
    h3 {
        font-size: 4vw;
    }

    main {
        display: block;
    }

    #fixture {
        justify-content: center;
        align-items: center;
    }


    .primero {

        height: 50px !important;
        width: 70px !important;
    }

    img {
        width: 8rem;
        align-items: flex-start;
    }

    #letra-grupo {
        font-size: 2rem;
    }

}


#letra-grupo {
    font-size: 3rem;
    margin-right: 1rem;

}

.equipo,
.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.img-thumbnail {
    width: 4rem;
    padding: 0.1rem !important;
    margin-left: 1rem;
    margin-right: 1rem;
}

#copa {
    width: 10rem;
    margin-top: 4rem;
}

#boton-cruces {
    width: 60px;
    height: 25px;
    margin-top: 10px;
}

#boton-cruces:hover {
    background-color: rgb(200, 165, 165) !important;
    transform: scale(1.1) translateY(1px);
}

p {
    font-size: 9px;
    text-align: center;
    font-weight: bold;
    font-family: Qatar;
}



#cruces-interactivos {
    display: flex;
    align-items: center;
    margin-top: 9rem;
    margin-right: 2rem;
    font-family: Qatar;
}

#cruces-interactivos h4 {
    color: rgb(143, 73, 73);
}

.primero {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    border-radius: 1rem;
    height: 70px;
    width: 60px;
}


.octavos-uno,
.cuartos-uno,
.semifinal-uno {
    margin-right: 3rem;
}

.octavos-dos,
.cuartos-dos,
.semifinal-dos {
    margin-left: 3rem;
}

#acomodo-cuartos {
    margin-bottom: 9rem;
}


#priC,
#priD,
#priE,
#priF,
#priG,
#priH {
    margin-top: 4rem;
}

#cuartos-AB,
#cuartos-CD,
#cuartos-EF,
#cuartos-GH {
    margin-left: 12rem;
}

#cuartos-BA,
#cuartos-DC,
#cuartos-FE,
#cuartos-HG {
    margin-right: 12rem;
}

#izq-uno,
#der-uno {
    margin-bottom: 30rem;
}

/* FIN CRUCES INTERACTIVOS*/


/* COMIENZO SECCION PRINCIPAL */

.table {
    width: 500px;
    margin: auto;
    margin-top: 3rem;
}

#fixture-C {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.fechaUno,
.fechaDos,
.fechaTres {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: rgba(0, 0, 0, 0.267);
}

main h1 {
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px 2px black;
    ;
}

.encuentros h1 {
    margin: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    color: aliceblue;
}

.encuentros {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

@media screen and (max-width: 759px) {
    .encuentros {
        flex-direction: column;
    }
}



.card {
    width: 8rem !important;
}