/* COMIENZO GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: /* #8a1538; */radial-gradient(circle, rgba(173,0,52,1) 0%, rgba(33,10,10,1) 100%);
}

/* FIN GENERALES */


/* COMIENZO HEADER */

#logo-wcp {
    width: 50px;
    margin-left: 1rem;
}

#logo-fifa{
    width: 50px;
    margin-right: 2rem;
}

header h3{
    font-size: 2vw;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* FIN HEADER */


/* COMIENZO SECCION PRINCIPAL */

h1{
    text-align: center;
    margin-top: 2rem;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#fixture {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;    
}


.grupo {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;    
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: rgba(0, 0, 0, 0.348);
}

@media screen and (max-width: 759px) {
.grupo{
    width: 8rem !important;
  }
}

#equipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img{
    width: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

button{
    width: 7rem;
    margin-top: 10px;
}

button:hover {
      background-color: rgb(200, 165, 165) !important;
      transform: scale(1.1) translateY(1px);
    }         



    .cuadro-octavos{
        display: flex;       
        align-items: center;
        justify-content: center;

    }

       
    .primero {
        border-top: 4px solid #000000;
        border-right: 4px solid #000000;
        border-bottom: 4px solid #000000;
        border-left: 4px solid #000000;
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 150px;
        width: 200px;
    }
    
    #primer-cuadro{
        margin-top: 10rem;
        margin-right: 70rem;
    }

    #segudo-cuadro{      
        margin-top: 10rem;        
    }
    
    .parteB{
        margin-top: 10rem;
    }

  

    #cuartos-A{
        margin-left: 15rem;
    }

    

   

